<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/styles.css"/>
  <title>Sign In a Show</title>
</head>
<body>
  <h1>Sign In</h1>
  <form action="/shows/sign-in-show" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
    <button type="submit">Add Show</button>
  </form>
  <a href="/shows/">Back to Shows</a>
</body>
</html>